<form action="#" phx-submit="add">
  <%= text_input :task, :name %>
  <%= submit "Add", phx_disable_with: "Adding..." %>
</form>

<%= for task <- @tasks do %>
  <div class="task">
    <%= checkbox :task, :done, value: task.done, phx_click: "toggle", phx_value_id: task.id %>
    <%= task.name %>
    <span class="task-delete" phx-click="delete", phx-value-id= <%= task.id %> %> delete </span>
  </div>
<% end %>
